@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Land Properties Managment</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Bundles/App/vendor/css")
    @Styles.Render("~/Bundles/App/Main/css")

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/App/vendor/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?type=angular"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>

    
    @Scripts.Render("~/Bundles/App/Main/js")
    <script src="~/Abp/Framework/scripts/libs/abp.sweet-alert.js"></script>
</head>
<body>
    <div ng-app="app">
        @*<div ng-controller="app.views.layout as vm">
            <div ng-include="'/App/Main/views/layout/header.cshtml'"></div>
            <div class="container">
                <div class="angular-animation-container row">
                    <div ui-view class="shuffle-animation col-xs-12"></div>
                </div>
            </div>
        </div>*@
        <nav class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand"
                   ui-sref="about">Land Properties Managment</a>
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="landPropertiesList">Land Properties</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div ui-view></div>
        </div>
    </div>
</body>
</html>